.section_7 {
  display: grid;
  grid-template-columns: 36% 30% 30%;
  column-gap: 18px;
  margin: 100px 0px;

  .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .p {
      font-family: var(--ojuju-700);
      font-size: 68px;
    }

    .beautiful {
      align-self: flex-start;
      background-color: var(--amber);
    }
  }

  .div2 {
    .img_1 {
      width: 23.5rem;
      height: 30rem;
      margin-bottom: 0.4rem;
    }
    .img_2 {
      width: 23.5rem;
      height: 18rem;
    }
  }

  .div3 {
    .img_3 {
      width: 23.5rem;
      height: 18rem;
      margin-bottom: 0.4rem;
    }
    .img_4 {
      width: 23.5rem;
      height: 30rem;
    }
  }

  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;

    .div1 {
      text-align: start;
      margin-left: 10px;
      margin-bottom: 20px;
    }

    .p {
      font-size: 36px; /* Adjust font size for mobile layout */
    }

    .img_1,
    .img_2,
    .img_3,
    .img_4 {
      width: 100%; /* Make images take full width for mobile layout */
      height: auto; /* Allow images to scale proportionally */
    }
  }
}
