.section_3 {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 15px;
    font-family: var(--ojuju-700);
    font-size: 72px;
  }

  p {
    font-family: var(--open_sans-400);
    font-size: 30px;
    text-align: center;
  }

  .tag_carousel {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .img_carousel {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    img {
      width: 300px;
      max-width: 300px;
      height: 274px;
      max-height: 274px;
      background-size: contain;
    }
  }

  @media (max-width: 1300px) {
    /* Media query for screens less than 375px wide */
    h1 {
      font-size: 36px; /* Adjust font size for mobile layout */
    }

    p {
      font-size: 16px; /* Adjust font size for mobile layout */
    }

    .tag_carousel,
    .img_carousel {
      overflow-x: auto; /* Change overflow to auto for smaller screens */
      overflow-y: hidden;
      white-space: nowrap; /* Prevent wrapping for horizontal scrolling */
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .img_carousel img {
      width: 70px;
      max-width: 70px;
      height: 75px;
      max-height: 75px;
    }
  }
}
