.section_3 {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 15px;
    font-family: var(--ojuju-700);
    font-size: 72px;
  }

  p {
    font-family: var(--open_sans-400);
    font-size: 30px;
    text-align: center;
  }
}