.section_2 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-bottom: 80px;

  .about {
    margin-right: 50px;

    h1 {
      font-family: var(--ojuju-700);
      font-size: 72px;
    }

    p {
      font-family: var(--open_sans-400);
      font-size: 28px;
    }
  }

  .img_0 {
    width: 18.75rem;
    height: 25.31rem;
  }

  @media (max-width: 1300px) {
    /* Media query for screens less than 375px wide */
    grid-template-columns: 100%; /* Change grid to a single column for mobile layout */
    row-gap: 20px; /* Add some space between rows for mobile layout */

    .about {
      margin-right: 0; /* Remove margin for mobile layout */

      h1 {
        font-size: 36px; /* Adjust font size for mobile layout */
      }

      p {
        font-size: 15px; /* Adjust font size for mobile layout */
      }
    }

    .img_0 {
      width: 100%; /* Make image take full width for mobile layout */
      height: auto; /* Allow image to scale proportionally */
    }
  }
}
