.section_2 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-bottom: 80px;

  .about {
    margin-right: 50px;

    h1 {
      font-family: var(--ojuju-700);
      font-size: 72px;
    }

    p {
      font-family: var(--open_sans-400);
      font-size: 28px;
    }
  }

  .img_0 {
    width: 18.75rem;
    height: 25.31rem;
  }
}
